/* --- VARIABLES Y RESET --- */
:root {
    --primary-orange: #FC3A05;
    /* Color naranja intenso */
    --bg-dark: #1F2124;
    /* Fondo general */
    --card-bg: #363636;
    /* Fondo de la tarjeta */
    --text-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
}

a {
    color: inherit;
    text-decoration: none;
}

/*BARRA SUPERIOR*/
.top-bar {
    background-color: var(--primary-orange);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 0.85rem;
}

/*NAVEGACIÓN PRINCIPAL*/
.main-nav {
    background-color: var(--primary-orange);
    /* margin: 20px 40px;
    padding: 15px 30px;
    border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-circle {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-circle img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* 
.logo-circle {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
} */

.logo-text-placeholder {
    width: 100px;
    height: 14px;
    text-transform: uppercase;
    font-weight: 800;
    /* background-color: white;
    border-radius: 10px; */
}

.nav-links {
    display: flex;
    gap: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-links a {
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    color: var(--text-white);
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
}

.nav-links a:last-child {
    border-right: none;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.btn-outline {
    background: transparent;
    color: white;
}

.btn-white {
    background: white;
    color: var(--primary-orange);
}

/*FORMULARIO DE BÚSQUEDA (PHP)*/
.search-container {
    max-width: 900px;
    margin: 25px auto 40px auto;
}

.search-form {
    display: flex;
    border: 2px solid var(--primary-orange);
    border-radius: 10px;
    /* overflow: hidden; */
    background-color: #2a2a2a;
}

.date-input-wrapper {
    flex: 1;
    padding: 15px;
    border-right: 2px solid var(--primary-orange);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-orange);
}

.search-input-wrapper {
    flex: 2;
    padding: 15px;
    display: flex;
    align-items: center;
}

.search-input-wrapper input {
    background: transparent;
    border: none;
    width: 100%;
    color: white;
    font-size: 1rem;
    outline: none;
}

.search-icon {
    color: var(--primary-orange);
    font-size: 1.5rem;
    cursor: pointer;
}

/*TARJETA PRINCIPAL (HERO)*/
.hero-card {
    background-color: var(--card-bg);
    margin: 0 20px;
    border-radius: 15px;
    overflow: hidden;
    min-height: 00px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    padding: 50px;
    min-height: 400px;
}

.card-content h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.card-content p {
    max-width: 400px;
    line-height: 1.6;
    font-size: 0.9rem;
    color: #ccc;
}

/* DESCTACADOS */
.outstand-card {
    background-color: var(--primary-orange);
    overflow: hidden;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 50px;
}

.events-outstand {
    background-color: var(--card-bg);
    margin: 0 15px;
    border-radius: 15px;
    overflow: hidden;
    min-height: 520px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events-outstand-b {
    background-color: var(--card-bg);
    margin: 0 15px;
    border-radius: 15px;
    overflow: hidden;
    min-height: 520px;
    min-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events-content {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.events-content h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 100px 40px 40px 40px;
}

.events-content a {
    color: var(--primary-orange);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.5rem;
    margin: 70px;
    margin-top: 110px;
    margin-left: 0px;
}

.event-header {
    display: flex;
    flex-direction: row;
}

/* PROXIMOS EVENTOS */

.outline {
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.next-card {
    overflow: hidden;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.event-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.collection-list {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
    justify-content: space-around;
}

.next-event {
    max-width: 350px;
    cursor: auto;
    flex: 0 31.5%;
    padding: 2rem;
    position: relative;
}

h3.next-event {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
}

img.next-event {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 16rem;
}

.button-next {
    margin-top: 2rem;
    margin-left: auto;
    text-align-last: right;
}

.card-info-next {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.625rem;
    display: flex;
    flex-direction: row;
}

/* falta asignar a quien */

/*ELEMENOTS FOOTER*/
.card-footer {
    background-color: #252525;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-book {
    background: transparent;
    border: 2px solid var(--primary-orange);
    border-radius: 5px;
    color: var(--primary-orange);
    padding: 10px 30px;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-book:hover {
    background: var(--primary-orange);
    color: white;
}

.card-info-right {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.1rem;
}

.location-icon {
    background-color: var(--primary-orange);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.location-icon {
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

/* COMENTARIOS */
.comentary-content p {
    max-width: 300px;
    font-size: 0.9rem;
    margin-top: 10px;
}

.comentary-content h3 {
    margin-top: 30px;
}

.comentary-card {
    min-height: auto;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 50px;
}

/* FOOTER */

/* .footer-right {
    flex-flow: column;
    padding-left: 0;
    list-style-type: none;
    display: flex;
} */

/* FOOTER DE PRUEBA */

.footer-section {
    background-color: var(--primary-orange);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    padding-bottom: 4.625rem;
}

.footer-left {
    width: 100%;
    position: relative;
}

.footer-social-wrap {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.icon-embed-custom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
}

.separator-line {
    background-color: var(--text-white);
    width: 100%;
    height: 1px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.footer-right {
    flex: none;
    margin-left: 7.625rem;
    padding-right: 75px;
}

.footer-menu-list {
    grid-column-gap: 3.4375rem;
    grid-row-gap: 3.4375rem;
    flex-flow: column;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.list-item {
    justify-content: flex-start;
    align-items: center;
}

.footer-list-link {
    grid-column-gap: 1.375rem;
    grid-row-gap: 1.375rem;
    color: var(--white);
    letter-spacing: 2px;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
}

.footer-wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 40px;
}





.date-input-wrapper {
    position: relative;
    display: inline-block;
}

#date-input {
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid var(--primary-orange);
    color: var(--text-white);
    background-color: var(--card-bg);
    width: 150px;
    cursor: pointer;
}



.datepicker-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

/* --- CALENDARIO --- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.calendar-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
}

#toggle-calendar:checked+.calendar-trigger+.datepicker {
    display: block;
}

.datepicker {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 320px;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    z-index: 9999;
}

.datepicker-top {
    margin-bottom: 1rem;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: -.5rem;
}

.tag {
    margin-right: .5rem;
    margin-top: .5rem;
    border: 0;
    background-color: var(--primary-orange);
    border-radius: 10px;
    padding: .5em .75em;
    font-weight: 600;
    color: var(--text-white);
    cursor: pointer;
}

.month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: var(--primary-orange);
    border-radius: 12px;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25), 0 0 10px 0 rgba(0, 0, 0, .15);
    color: var(--text-white);
    cursor: pointer;
}

.month-name {
    font-weight: 600;
    font-size: 1rem;
    user-select: none;
}

.datepicker-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 1rem;
}

.day,
.date {
    justify-self: center;
}

.day {
    color: #999FA6;
    font-size: .875em;
    font-weight: 500;
    justify-self: center;
    user-select: none;
}

.date {
    border: 0;
    padding: 0;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 600;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-white);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.date:hover {
    background-color: var(--primary-orange);
    border-color: var(--primary-orange);
    color: var(--text-white);
}

.faded {
    color: #999FA6;
    cursor: default;
}

.current-day {
    color: #FFF;
    border-color: var(--primary-orange);
    background-color: var(--primary-orange);
}

.current-day:focus {
    background-color: #C54B22;
}

/* Ocultar input date original para que no interfiera visualmente */
.date-input-wrapper input[type="date"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* MENU TOGGLE */

.menu-checkbox {
    display: none;
}

.menu-toggle {
    display: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

/*RESPONSIVE MOVIL*/
@media screen and (max-width: 765px) {
    .search-container {
        margin: 25px 25px 40px 25px;
    }

    .card-content p {
        display: none;
    }

    .top-bar {
        justify-content: space-between;
    }

    .nav-buttons,
    .main-nav>.nav-links {
        display: none;
    }

    .main-nav {
        margin-left: 20px;
    }

    /* NAVBAR */
    /* Mostrar icono hamburguesa */
    .menu-toggle {
        display: block;
    }

    /* Ocultar menú normal */
    .nav-links,
    .nav-buttons {
        display: block;
    }

    /* Ajustar contenedor nav */
    .main-nav {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    /* Estilo del menú desplegable */
    .main-nav>.nav-links,
    .main-nav>.nav-buttons {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-orange);
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1rem 0;
        gap: 1rem;
        z-index: 1000;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
    }

    /* Cuando el checkbox está activado */
    .menu-checkbox:checked~.nav-links,
    .menu-checkbox:checked~.nav-buttons {
        display: flex;
    }

    /* Ajuste de botones dentro del menú */
    .btn {
        width: 70%;
        max-width: 200px;
    }

    /*llegas hasta aqui*/

    .card-info-right>.location-icon {
        display: none;
    }

    .hero-card>.card-footer {
        background-color: #252525;
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    .card-footer>.card-info-right {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.1rem;
        flex-direction: column;
        align-content: stretch;
        justify-content: space-evenly;
        margin-left: 20px
    }

    .events-outstand:first-child {
        width: -webkit-fill-available;
        
    }

    .events-outstand:nth-child(2),
    .events-outstand-b,
    .next-event:nth-child(2),
    .next-event:nth-child(3),
    .comentary-card:nth-child(2),
    .comentary-card:nth-child(3),
    .comentary-card:nth-child(4) {
        display: none;
    }

    .btn-book {
        display: table-cell;
    }

    .footer-wrap {
        justify-content: space-evenly;
        align-items: self-start;
        display: flex;
        padding: 40px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .footer-right {
        flex: none;
        margin-left: inherit;
        padding-right: 75px;
    }

    .events-content a {
        margin: 40px;
        margin-top: auto;
        margin-left: 40px;
    }

    .events-content {
        flex-wrap: wrap;
    }


    .events-outstand {
        margin: 0 15px 20px;
    }

    .next-event,
    .outstand-card {
        min-width: 310px;
    }

}

/* RESPONSIVE IPAD */
@media screen and (max-width: 1065px) {

    .main-nav {
        gap: 0;
    }

    .next-event:nth-child(3),
    .comentary-card:nth-child(2),
    .comentary-card:nth-child(3) {
        display: none;
    }

    .outstand-card>.collection-list {
        justify-content: center;
    }

    .events-outstand:nth-child(2),
    .events-outstand:nth-child(1) {
        min-height: fit-content;
        max-height: 260px;
        margin-bottom: 20px;
        min-width: 320px;
    }

    .events-outstand-b {
        min-height: 366px;
        min-width: 686px;
        margin-bottom: 40px;
    }

    .card-content {
        min-height: 260px;
    }

    .next-event {
        flex: 01 31.5%;
    }

}

@media screen and (max-width: 1240px) {

    .outstand-card>.collection-list {
        justify-content: center;
    }

    .events-outstand:nth-child(2),
    .events-outstand:nth-child(1) {
        min-height: fit-content;
        max-height: 260px;
        margin-bottom: 20px;
        min-width: 400px;
    }

    .events-outstand-b {
        min-height: 366px;
        min-width: 826px;
        margin-bottom: 40px;
    }
}