body {
    background-color: #202020;
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 25% 35% 35% 5%;
}

header {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

main {
    background-color: #FC3A0580;
    border-radius: 10px;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
}

h1,
h2,
p,
label,
button {
    display: grid;
    font-family: outfit;
    color: white;
}

a {
    display: grid;
    font-family: outfit;
    color: #FC3A05;
}

button {
    background-color: #FC3A05;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

footer {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    justify-content: center;
    align-items: end;
    align-self: baseline;
}

section , main > p{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

