body {
    background-color: #202020;
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 25% 35% 35% 5%;
}

header {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

main {
    background-color: #FC3A0580;
    border-radius: 10px;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

h1,
h2,
p,
label,
button {
    display: grid;
    font-family: outfit;
    color: white;
}

a {
    display: grid;
    font-family: outfit;
    color: #FC3A05;
}

button {
    background-color: #FC3A05;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

footer {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    justify-content: center;
    align-items: end;
    align-self: baseline;
}

/* section , main > p{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
} */

section:first-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}

section:nth-child(2) {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(3) {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(4) {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}