body {
    background-color: #202020;
    display: grid;
    grid-template-columns: 5% 50% 40% 5%;
    grid-template-rows: 15% 35% 43% 17%;
}

header {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    margin-right: 60px;
}

main {
    background-color: #FC3A0580;
    border-radius: 20px;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    gap: 0.75rem;
}

h1,
h2,
p,
label,
button {
    display: grid;
    font-family: outfit;
    color: white;
}

a {
    display: grid;
    font-family: outfit;
    color: #FC3A05;
}

input,
button {
    width: 100%;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 8px;
    border-style: none;
}

input::placeholder {
    color: #999;       
    font-size: 0.8rem; 
}

.g_form label{
    margin-bottom: 6px;
}

button {
    background-color: #FC3A05;
    cursor: pointer;
    border: none;
    margin: 10px;
}

section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.g_enlaces a,.g_enlaces p{
    margin: 1px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>div>p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    margin-left: 20px;
    
}

footer {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    justify-content: center;
    align-items: end;
    align-self: baseline;
}

footer>p {
    display: flex;
    flex-direction: column;
    justify-content:end;
}