 :root {
     --primary-orange: #FC3A05;
     /* Color naranja intenso */
     --bg-dark: #1F2124;
     /* Fondo general */
     --card-bg: #363636;
     /* Fondo de la tarjeta */
     --text-white: #ffffff;
 }

 /* OVERALL LAYOUT */

 html,
 body {
     height: 100%;
     margin: 0;
 }

 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     background-color: #202020;
 }

 .page {
     flex: 1;
     display: grid;
     grid-template-columns: 8% 50% 34% 8%;
     background-color: var(--card-bg);
     border-radius: 15px;
     overflow: hidden;
     min-height: 00px;
     align-items: start;
     justify-content: center;
     align-content: end;
     padding: 25px;
     /* grid-template-rows: 12% 38% 52% 8%; */
     /* grid-template-rows: 1fr 3fr 4fr auto; */
 }

 header {
     grid-column: 2 / 3;
     grid-row: 2 / 4;
     margin-right: 60px;
 }

 header>h1 {
     text-transform: uppercase;
 }

 main {
     background-color: var(--primary-orange);
     border-radius: 20px;
     padding: 20px;
     grid-column: 3 / 4;
     grid-row: 2 / 4;
 }

 form {
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     padding: 10px;
     gap: 0.75rem;
 }

 h1,
 h2,
 p,
 label {
     display: grid;
     font-family: outfit;
     color: var(--text-white);
     max-width: 500px;
 }

 button {
     display: grid;
     font-family: outfit;
     color: var(--primary-orange);
 }

 a {
     display: grid;
     font-family: outfit;
     color: var(--text-white);
 }

 /* FORM */

 input,
 button {
     width: 100%;
     padding: 0.3rem;
     font-size: 1rem;
     border-radius: 8px;
     border-style: none;
 }

 input::placeholder {
     color: #999;
     font-size: 0.8rem;
 }

 .g_form label {
     margin-bottom: 6px;
 }

 button {
     background-color: var(--text-white);
     cursor: pointer;
     border: none;
     margin: 10px;
 }

 section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 /* ENLACES ASIDE */

 .enlaces {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: -10px;
 }

 .g_enlaces {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: -5px;
 }

 div.g_enlaces {
     margin-bottom: 10px;
 }

 main>div>p {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     font-size: 12px;
     margin-left: 20px;

 }

 /* COPYRIGHT */

 /* footer {
     display: grid;
     grid-column: 2 / 4;
     grid-row: 4 / 5;
     justify-content: center;
     align-items: end;
     align-self: end;
 }

 footer>p {
     display: flex;
     flex-direction: column;
     justify-content: end;
 } */